@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
  padding: 0; margin: 0; font-weight: bold;
    font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px
}

:root{
    --bk:#fff;
    --color-header:#94661d;
    --color:#fff;
    --header:#08392E;
    --con1:#08392E;
  
}
body{
    box-sizing: border-box;
    
    height: 100vw;
    overflow-y: scroll;
    object-fit: contain;
    position: relative;
}

/*--------------------------------------------------------------*/
@keyframes sde {
    0%{
       background: linear-gradient(#fff,#117219,#533434);
    }
     100%{
        background: linear-gradient(#ffffff81,#060d3137,#103303);
    }
}
header{
        width: 100%;
        background: var(--header);
        position: fixed;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 14px;
        padding: 5px;
        text-align: center;
        align-items: center;
        z-index: 100;
    }
    header img{width: 40px ; height: 40px;}
    header h1{
        font-size: 14px;
    }

    header .inputs{
        display: flex;
        flex-wrap: wrap;
    }


    .continers{
        overflow: hidden;
        display: flex;
        height: 100vw;
        justify-content: center;
        flex-wrap: wrap;
        background: var(--bk);
        
    }


    .continers .content-1{
        background: transparent;
        border: solid 5px var(--con1);
        border-radius: 7px;
        display: grid;
        padding: 5px;
        width: 70%;
        height: max-content;
        position: relative;
        left: -60px;
        top: 90px;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        overflow-y: scroll;
          
    }
    .content-1 .box{
        display: grid;
        margin:1px;
        background: #08392E;
        padding: 5px;
        border: solid 5px var(--con1);
        border-radius: 7px;
    }
    .content-1 .box input{
        background: transparent;
        border: solid 1px var(--bk);
        padding: 3px;
        border-radius: 4px;
        margin: 3px;
        outline: none;
    }
    .content-1 .box button{
        width: 60px;
        border: none;
        padding: 3px;
        background: #455;
        color: #fff;
        border-radius: 6px;
    }

    .content-1 .box button:hover{
        transition: 1S;
        background: #05486c;
    }

     .content-2{
        background: transparent;
        border: solid 5px var(--con1);
        border-radius: 7px;
        display: grid;
        padding: 5px;
        width: 70%;
        height: fit-content;
        position: relative;
        left: -60px;
        top: 120px;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        overflow-y: scroll;
     }

     .content-2 .box2{
        display: flex;
        flex-direction: column;
        margin: 2px;
        padding: 2px;
     }
     .content-2 .box2 input{
        background: transparent;
        border: none;
        border-bottom: solid 2px var(--con1);
        padding: 3px;
        outline: none;
     }
     .content-2 .btn{
        width: 250px;
        justify-content: space-around;
        display: flex;
     }

     .content-2 .btn button{
        background:#08392E ;
       border: none;
       border-radius: 7px;
        width: 120px;
        padding: 3px;
     }







 @media (max-width:980px){
body{
    box-sizing: border-box;
    width: 900px;
    height: 1400px;
    overflow-y: scroll;
    object-fit: contain;
    position: relative;
}

header{
        width: 100%;
        background: var(--header);
        position: fixed;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 14px;
        padding: 5px;
        text-align: center;
        align-items: center;
        z-index: 100;
    }
    header img{width: 40px ; height: 40px;}
    header h1{
        font-size: 14px;
    }

    header .inputs{
        display: flex;
        flex-wrap: wrap;
    }


    .continers{
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;
        background: var(--bk);
        
    }


    .continers .content-1{
        background: transparent;
        border: solid 5px var(--con1);
        border-radius: 7px;
        display: grid;
        padding: 5px;
        width: 50%;
        height: max-content;
        position: relative;
        left: -180px;
        top: 90px;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        overflow-y: scroll;

    }
    .content-1 .box{
        display: grid;
        margin:1px;
        background: #08392E;
        padding: 1px;
        border: solid 5px var(--con1);
        border-radius: 7px;
    }
    .content-1 .box input{
        background: transparent;
        border: solid 1px var(--bk);
        padding: 3px;
        border-radius: 4px;
        margin: 3px;
        outline: none;
    }
    .content-1 .box button{
        width: 60px;
        border: solid 1px #fff;
        padding: 3px;
        background: #08392E;
        color: #fff;
        border-radius: 6px;
    }

    .content-1 .box button:hover{
        transition: 1S;
        background: #0a5e4c;
    }

     .content-2{
        background: transparent;
        border: solid 5px var(--con1);
        border-radius: 7px;
        display: grid;
        padding: 5px;
        width: 50%;
        height: max-content;
        position: relative;
        left: -190px;
        top: 60px;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        overflow-y: scroll;
     }

     .content-2 .box2{
        display: flex;
        width: 70%;
        flex-direction: column;
        margin: 0px;
        padding: 1px;
     }
     .content-2 .box2 input{
        background: transparent;
        border: none;
        border-bottom: solid 2px var(--con1);
        padding: 2px;
        outline: none;
     }
     .content-2 .btn{
        width: 250px;
        justify-content: space-around;
        display: flex;
     }

     .content-2 .btn button{
        background:#26816d ;
       border: none;
       border-radius: 7px;
        width: 120px;
        padding: 3px;
     }   
}
 @media (max-width:506px){
 

    body{
    box-sizing: border-box;
    width: 360px;
    height: 690px;
    overflow-y: scroll;
    object-fit: contain;
    position: relative;
}

header{
        width: 100%;
        background: var(--header);
        position: fixed;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 14px;
        padding: 5px;
        text-align: center;
        align-items: center;
        z-index: 100;
    }
    header img{width: 50px ; height: 40px;}
    header h1{
        font-size: 14px;
    }

    header .inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    header .inputs label{
        color: #fff;
        margin: 5px;
    }
    header .inputs input{
    
        width: 100px;
        border: solid 1.2px #e1e1e1;
        background: transparent;
        border-radius: 7px;
        margin-left: -5px;
    }

    .continers{
        overflow: hidden;
        display: flex;
        width: 390px;
        height: 3400px;
        justify-content: center;
        flex-wrap: wrap;
        background: var(--bk);
        
    }


    .continers .content-1{
        background: transparent;
        border: solid 5px var(--con1);
        border-radius: 7px;
        display: grid;
        padding: 5px;
        width: 95%;
        height: fit-content;
        position: relative;
        left: 0px;
        top: 110px;
        grid-template-columns: 1fr;
        overflow: hidden;
        

    }
    .content-1 .box{
        display: grid;
        margin:1px;
        background: #08392E;
        padding: 1px;
        border: solid 5px var(--con1);
        border-radius: 7px;
    }
    .content-1 .box input{
        background: transparent;
        border: solid 1px var(--bk);
        padding: 3px;
        border-radius: 4px;
        margin: 3px;
        outline: none;
    }
    .content-1 .box button{
        width: 60px;
        border: solid 1.3px #fff;
        padding: 3px;

        background: #08392E;
        color: #fff;
        border-radius: 6px;
    }

    .content-1 .box button:hover{
        transition: 1S;
        background: #0f9477;
    }

     .content-2{
        background: transparent;
        border: solid 5px var(--con1);
        border-radius: 7px;
        display: grid;
        padding: 5px;
        width: 94%;
        height: max-content;
        position: relative;
        left: 0px;
        top: 120px;
        grid-template-columns: 1fr;
        overflow: hidden;
        
     }

     .content-2 .box2{
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: 0px;
        padding: 1px;
     }
     .content-2 .box2 input{
        background: transparent;
        border: none;
        border-bottom: solid 2px var(--con1);
        padding: 2px;
        outline: none;
     }
     .content-2 .btn{
        margin-top: 9px;
        width: 250px;
        justify-content: space-around;
        display: flex;
     }

     .content-2 .btn button{
        background:#023c8e ;
       border: none;
       border-radius: 7px;
        width: 120px;
        padding: 3px;
     }   
}

.msg{
    width: 200px;
    height: 40px;
    position: absolute;
    top: -10%;
    left: 30%;
    background: #08392E;
    display: flex;
    justify-content: center;
    z-index: 150;
    color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 8px;  
     transition: 3s;  
}

.msg.show{
    top: 10%;
}
